body {
    padding: 1rem;
}
button {
    background-color: lightgrey;
    color: black;
    border: 6px solid dodgerblue;

    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button:hover {
    background-color: lightskyblue;
    border: 4px solid cornflowerblue;
    padding: 17px 35px;
}